* {
  scroll-behavior: smooth;
}

img {
  display: block;
  height: 100%;
}

.services {
  max-width: 1100px;
  margin: 0 auto;
  margin-block: 50px;
}

.service {
  display: flex;
  flex-direction: column;
}

.service-content {
  width: 100%;
  padding: 25px;
}

.service-img {
  width: 100%;
}

@media only screen and (min-width: 760px) {
  .service {
    flex-direction: row;
  }

  .service-reversed {
    flex-direction: row-reverse;
  }

  .service-content {
    width: 50%;
    display: grid;
    place-content: center;
    padding: 25px;
  }

  .service-img {
    width: 50%;
  }
}
